main {
    height: 100%;
    font-size: 3.3em;
    line-height: 10vh;
    width: 90%;
    padding-left: 5%;
}

input {
    height: 25px;
    position: relative;
    bottom: 4px;
    font-size: 50%;
    width: 15%;
}

label, p {
    color: white;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: blueviolet;
}