*
  padding 0
  margin 0

  font-family "Roboto", sans-serif
  font-weight 800
  font-style normal

#game
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-image url("/background-pattern.webp")
  background-repeat repeat