animation_length = .3s

preset = @block {
  display flex
  gap 5px
  align-items center
}

.header
  display flex
  background #1d1818
  align-items center
  justify-content space-between
  padding 5px

.left
  text-decoration none
  color inherit
  {preset}

.right
  {preset}
  & > a
    width 40px
    height 40px
    cursor pointer
    background var(--image) no-repeat center / cover
    transition filter animation_length ease

    &:visited
      color inherit

    &:hover
      filter brightness(50%)