preset =
  display flex
  gap 5px
  align-items center

.header
  display flex
  background #1D1818
  align-items center
  justify-content space-between
  padding 5px

.left
  text-decoration none
  color inherit
  {preset}

.right
  {preset}

animation_length = .3s

.right > a
  width 40px
  height 40px
  cursor pointer
  background-repeat no-repeat
  background-size cover
  transition filter animation_length ease

  &:visited
    color inherit

.name
  color white
  font-size 2em

header_button(id)
  background-image url("/header/" + id + ".png")
  &:hover
    filter brightness(50%)

.settings
  header_button('settings')

.profile
  header_button('profile')