#skillsDescriptionContainerBackground { /* Модальное окно */
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#skillsDescriptionContainer { /* Модальное окно */
  display: none;
  height: 740px;
  width: 1470px;
  margin-left: 380px;
  margin-top: 110px;
  border-radius: 30px;
  background-image: url("../images/backgroundCharacters.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid blueviolet;
  color: white;
}

.close {
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../images/cross2.png"); /* Модальное окно */
  background-repeat: no-repeat;
  background-size: cover;
  height: 70px;
  width: 70px;
  margin-left: 5px;
  margin-top: 5px;
  border-width: 0;
  cursor: pointer;
  position: fixed;
}

.close:hover {
  background-image: url("../images/cross20.png"); /* Модальное окно */
}