.characters {
    height: 200px;
    width: 200px;
    margin-left: -75px;
    margin-right: 100px;
    margin-top: 25px;
    border: 5px solid black; /* ВЫБОР ПЕРСОНАЖА */
    border-radius: 5px;
  }
  
  .characters:hover {
    border-color: red; /* ВЫБОР ПЕРСОНАЖА */
    cursor: pointer;
  }
  
  #Krova {
    background-image: url("../images/krova2.jpg"); /* ВЫБОР ПЕРСОНАЖА */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  #Aris {
    background-image: url("../images/aris2.jpg"); /* ВЫБОР ПЕРСОНАЖА */
    background-repeat: no-repeat;
    background-size: cover;
  }