* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/backside.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.roboto-medium {
  font-family: "Roboto", sans-serif; /* шрифт */
  font-weight: 500;
  font-style: normal;
}

html {
  min-height: 100%;
}