p {
    margin-left: 20px; /* МЕНЮ ПЕРСОНАЖА */
  }

  #skillsDescription { /* ТЕКСТ В ОКНАХ СПОСОБНОСТЕЙ */
    display: block;
    position: fixed;
    text-align: left;
    width: 1370px;
    font-size: 3.5em;
    margin-left: 75px;
  }
  
  #skillsDescriptionTitle {
    font-size: 100px; /* ЗАГОЛОВОК В ОКНАХ СПОСОБНОСТЕЙ */
    text-align: center;
    display: block;
    font-weight: 900;
  }
  
  .physical {
    color: rgb(172, 57, 11); /* ФИЗ. ТИП УРОНА */
  }
  
  .magic {
    color: deepskyblue; /* МАГ. ТИП УРОНА */
  }