.record
  display flex
  width 300px
  height 60px
  padding 5px
  border solid $additional-color 5px
  border-radius 10px
  justify-content space-between

.main_inf
  display flex
  flex-direction column
  flex-grow 1
  align-items start
  text-overflow ellipsis

.server_name
  font-size 24px

.server_desc
  font-size 18px

.counters
  display flex
  gap 2px
  flex-direction column
  justify-content end
  text-wrap nowrap
  & > button
    appearance none
    background none
    border none
    color white

.selected
  background-color $additional-color